node_modules
.next
out
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.tsbuildinfo
~
Larken Serif/Larken-Black.otf
Larken Serif/Larken-BlackItalic.otf
Larken Serif/Larken-Bold.otf
Larken Serif/Larken-BoldItalic.otf
Larken Serif/Larken-ExtraBold.otf
Larken Serif/Larken-ExtraBoldItalic.otf
Larken Serif/Larken-Italic.otf
Larken Serif/Larken-Light.otf
Larken Serif/Larken-LightItalic.otf
Larken Serif/Larken-MediumItalic.otf
Larken Serif/Larken-Regular.otf
Larken Serif/Larken-Thin.otf
Larken Serif/Larken-ThinItalic.otf
